IMAGE_NAME=bazzite-macpro71
REPO_ORGANIZATION="berry"
IMAGE_DESC="Bazzite KDE with Apple T2 support for MacPro7,1"
IMAGE_KEYWORDS="bazzite,macpro71,apple,t2,gaming"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
